/* Pastikan html dan body memiliki tinggi penuh */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Pastikan body memiliki tinggi penuh */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: relative; /* Menjaga posisi elemen */
  z-index: -1; /* Menempatkan elemen di belakang */
}

.app-container {
  position: relative; /* Memastikan elemen berada di atas */
  z-index: 1; /* Elemen ini berada di atas background */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
  max-width: 90%;
}

.gallery-item img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.logout-btn,
.toggle-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.logout-btn:hover,
.toggle-btn:hover {
  background-color: #0056b3;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
